venv
.idea
/.vscode/
.DS_Store
car_detection/__pycache__
face_recognition/output/embeddings.pickle
face_recognition/output/le.pickle
face_recognition/output/recognizer.pickle
resources/dataset
resources/slow.flv
resources/vtest.avi
semantic-segmentation/output
semantic-segmentation/videos
object_detection/yolo.cfg
object_detection/yolo.weights
object_detection/models.yml